<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="@{/user}" method="post" name="create">
        <label>Username</label>
        <input type="text" th:value="${username}" name="username"/>
        <label>Email</label>
        <input type="email" th:value="${email}" name="email"/>
        <label>Password</label>
        <th:block th:if="${error}"><p>Your usernames must match</p></th:block>
        <input type="password" value="Enter here" name="password"/>
        <label>Verify Password</label>
        <input type="password" value="Enter here" name="verify"/>
        <input type="submit" value="Submit"/>

    </form>
</body>
</html>